#products {
  &__title {
    padding-top: var(--column-space-l);
    padding-bottom: var(--column-space-l);
    &__breadcrumb {
      .content {
        .box {
          padding-bottom: 0;
        }
      }
    }
  }
  &__items {
    &__item{
      background-color: var(--color-neutral-10);
      padding-bottom: 120px;
      
      &__info{
        padding-top: var(--column-space-l);
        padding-bottom: var(--column-space-l);
        .content {
          .box {
            background-color: var(--color-neutral-09);
            border-radius: 4px;
            padding: var(--f-gutter-l);
            height: auto;
          }
        }
      }
    }
  }
}